{% extends 'main.html' %}


{% block content %}


	<div id="breadcrumbs">
		<div class="container content-container">
			<ul>
				<li><a href="#">Home</a></li>
				<li>Cart</li>
			</ul>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->

	<div id="body">
		<div class="container content-container">
			<div id="content" class="full">
				<div class="cart-table">
					<table>
						<tr>
							<th class="items">Items</th>
							<th class="price">Price</th>
							<th class="qnt">Quantity</th>
							<th class="total">Total</th>
							<th class="delete"></th>
						</tr>
						{% for cart_item in cart_items %}
							<tr>
								<td class="items">
									<div class="image">
										<img src="/static/images/{{cart_item.Jewelr.imagemain}}" alt="">
									</div>
									<h3><a href="#">{{cart_item.Jewelry.name}}</a></h3>
									<p>{{cart_item.Jewelry.description}}</p>
								</td>
								<td class="price">€ {{cart_item.Jewelry.price}}</td>
								<td class="qnt">
									<div class="qty mt-5">
										<h2 class="Quantity"><a href="{% if cart_item.quantity > 1 %}{% url 'quantitysubs' cart_item.id %}{% endif %}"><span class="minus bg-dark">-</span></a>{{cart_item.quantity}}<a href="{% url 'quantityadd' cart_item.id %}"><span class="plus bg-dark">+</span></a></h2>
									</div>
								</td>
								<td class="total">€ {{cart_item.totalprice}}</td>
								<td class="delete"><a href="{% url 'deleteitem' cart_item.id %}" class="ico-del"></a></td>
							</tr>
						{% endfor %}
					</table>
				</div>

				<div class="total-count">
					<h4>Subtotal:€ {{price}}</h4>
					<p>+shippment: Calculated in checkout</p>
					<h3>Total to pay:€ <strong>{{price}}</strong></h3>
					<a href="{% url 'order' %}" class="btn-grey">Finalize and pay</a>
				</div>
		
			</div>
			<!-- / content -->
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->
{% endblock %}
