{% extends 'main.html' %}
{% load static%}


{% block head %}
    <link rel="stylesheet" href="{% static 'styles/log.css' %}" />
{% endblock %}

{% block content %}
    <div id="breadcrumbs">
        <div class="container content-container">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>{% if page == 'login' %}Sign in {% else %} Sign up {%endif%}</li>
            </ul>
        </div>
        <!-- / container -->
    </div>

    <div class="log-container content-container">
        {% if page == 'login' %}
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <h2>Email:</h2>
                <input id="username" name="email" type="email" placeholder="e.g. dennis_ivy@email.com " />

                <h2>Password:</h2>
                <input type="password" name="password" placeholder="Enter password"/>

                <input type="submit" value="Login" />

                <br><br>
                <h5>or</h5>
                <br>
                <h4>Haven't you signed up yet?</h4>
                <h5><a href="{% url 'register' %}">Sign up here</a></h5>

            </form>
        </div>
        {% else %}
        <div>
            <form method="POST" action="">
                {% csrf_token %}

                {% for field in form %}
                <h2><label for="room_name">{{field.label}}</label></h2>
                {{field}}
                {% endfor %}
                <input type="submit" value="Register" />

                <br><br>
                <h5>or</h5>
                <br>
                <h4>Already have an account?</h4>
                <h5><a href="{% url 'login' %}">Sign in here</a></h5>

            </form>
        </div>
        {% endif %}
    </div>

{% endblock %}