{% extends 'main.html' %}


{% block content %}

	<div id="breadcrumbs">
		<div class="container content-container">
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'products' 1 %}">Products</a></li>
				<li>{{item.name}}</li>
			</ul>
		</div>
		<!-- / container -->
	</div>

	<div id="body">
		<div class="container content-container">
			<div id="content" class="full">
				<div class="product">
					<div class="image">
						<img src="/static/images/{{item.imagemain}}" alt="">
					</div>
					<div class="details">
						<h1>{{item.name}}</h1>
						<h4>{{item.price}}€</h4>
						<div class="entry">
							<div class="tabs">
								<div class="nav">
									<ul>
										<li class="active"><a>Description</a></li>
										<li><a>About</a></li>
									</ul>
								</div>
								<div class="tab-content active" id="desc">
									{{item.description | linebreaks}}
								</div>
								<div class="tab-content" id="spec">
									{{item.about | linebreaks}}
								</div>
							</div>
						</div>
						<div class="actions">
							<a href="{% url 'addcart' item.id %}" class="btn-grey">Add to cart</a>
						</div>
					</div>
				</div>
			</div>
			<!-- / content -->
		</div>
		<!-- / container -->
	</div>


{% endblock %}
